@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-tabs" id="manageTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile-tab" asp-page="./Index" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email-tab" asp-page="./Email" role="tab" aria-controls="email" aria-selected="false">Email</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password-tab" asp-page="./ChangePassword" role="tab" aria-controls="change-password" aria-selected="false">Password</a>
    </li>
</ul>

<style>
    .nav-tabs .nav-link.active {
        background-color: purple;
        color: white;
    }
</style>
